@model CategoryVM
@{
    ViewBag.Title = "GetAllCategories";
}

<!-- page start-->
<section class="panel">
    <header class="panel-heading">
        @Html.ActionLink("Aktif Kategorileri listele", "CategoryList")
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th>CategoryID</th>
                        <th>Kategori İsmi</th>
                        <th class="hidden-phone">Açıklama</th>
                        <th class="hidden-phone">Veri Durumu</th>
                        <th class="hidden-phone">Güncelle</th>
                        <th class="hidden-phone">Yok Et</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Category item in Model.Categories)
                    {
                        <tr class="gradeX">

                            <td>@item.ID</td>
                            <td>@item.CategoryName</td>
                            <td class="hidden-phone">@item.Description</td>
                            <td class="center hidden-phone">@item.Status</td>
                            <td class="center hidden-phone">@Html.ActionLink("Güncelle", "UpdateCategory", new { id = item.ID }, new { @class = "btn btn-warning" })</td>
                            <td class="center hidden-phone">@Html.ActionLink("Yok Et", "DestroyCategory", new { id = item.ID }, new { @class = "btn btn-danger" })</td>

                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</section>
<!-- page end-->
<script src="~/Areas/Admin/AdminScripts/AdminCategoryDTJ.js"></script>

