@model CartPageVM
@{
    ViewBag.Title = "CartPage";
}

<section class="panel">
    <div class="panel-body">
        <div class="jumbotron">
            Ödemeneiz gereken toplam tutar @Model.Cart.TotalPrice ₺... Siparişiniz onaylamak için @Html.ActionLink("tıklayınız","SiparisiOnayla")
        </div>

        <div class="row product-list">
            @foreach (CartItem item in Model.Cart.Sepetim)
            {
                <div class="col-md-4">

                    <section class="panel">
                        <div class="pro-img-box">

                            @if (item.ImagePath == null || item.ImagePath == "3" || item.ImagePath.Contains("night"))
                            {
                                <img src="~/OuterTools/img/product-list/pro1.jpg" alt="Resim yok" title="@item.Name" />
                            }
                            else
                            {
                                <img src="@item.ImagePath" alt="" title="@item.Name" />
                            }

                        <a href="@Url.Action("DeleteFromCart", new { id = item.ID })" class="adtocart"><i class="glyphicon glyphicon-remove"></i></a>

                        </div>

                        <div class="panel-body text-center">
                            <h4>
                                <a href="#" class="pro-title" title="">
                                    @item.Name x @item.Amount
                                </a>
                            </h4>
                            <p class="price">@item.SubTotal ₺</p>
                        </div>
                    </section>

                </div>
            }
        </div>

    </div>
</section>

