@model PaginationVM
@{
    ViewBag.Title = "ShoppingList";
}

@TempData["bos"]
@TempData["sepetBos"]
@TempData["baglantiRed"]
@TempData["odeme"]
@TempData["sorun"]

<!-- page start-->
<div class="row">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <input type="text" id="txtSearch" placeholder="Keyword Search" class="form-control">
            </div>
        </section>

        <section class="panel">
            <header class="panel-heading">
                Kategori
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">

                    @foreach (Category item in Model.Categories)
                    {
                        <li> @Ajax.ActionLink(item.CategoryName, "PartialShoppingList", new { categoryID = item.ID }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "result" }, new { @class = " icon-angle-right" }) </li>
                    }

                </ul>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Price Range
            </header>
            <div class="panel-body sliders">
                <div id="slider-range" class="slider"></div>
                <div class="slider-info">
                    <span id="slider-range-amount"></span>
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Best Seller
            </header>
            <div class="panel-body">
                <div class="best-seller">
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="~/OuterTools/img/product1.jpg">
                        </a>
                        <div class="media-body">
                            <a href="#" class=" p-head">Item One Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="~/OuterTools/img/product2.png">
                        </a>
                        <div class="media-body">
                            <a href="#" class=" p-head">Item Two Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="~/OuterTools/img/product3.png">
                        </a>
                        <div class="media-body">
                            <a href="#" class=" p-head">Item Three Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-9">

        <section class="panel">
            <div class="panel-body">
                <div class="pro-sort">
                    <label class="pro-lab">Fiyata göre sırala</label>
                    <select id="select" class="styled">
                        <option>Default</option>
                        <option>Artan</option>
                        <option>Azalan</option>
                    </select>
                </div>
            </div>
        </section>

        <section class="panel">
            <div id="result" class="panel-body">
                @Html.Partial("_ShoppingListPartial")
            </div>
        </section>

    </div>

</div>
<!-- page end-->

<script>

    $(document).ready(function () {
        $("#txtSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $.get("/Shopping/PartialShoppingList?search=" + value, function (r) {
                $("#result").html(r);
            });
        });
    });

</script>

<script>

    $(document).ready(function () {
        $("#select").on("change", function () {
            var value = $(this).val().toLowerCase();
            $.get("/Shopping/PartialShoppingList?sortOrder=" + value, function (r) {
                $("#result").html(r);
            });
        });
    });

</script>

@section Sepet {
    <li>
        <a href="@Url.Action("CartPage","Shopping")">
            <i class="icon-shopping-cart"></i>Sepet
            @if (Session["scart"] != null)
            {
                <span class="alert-info">@((Session["scart"] as Cart).Sepetim.Count)</span>
            }
        </a>
    </li>
}

@section Member {
    @if (Session["member"] != null)
    {
        <span class="username">@((Session["member"] as AppUser).UserName)</span>
    }

}


